Engine/src/Enigma-Ex1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CTE-Rotors">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="CTE-Rotor"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CTE-Rotor">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="CTE-Positioning"/>
			</xs:sequence>
			<xs:attribute name="notch" type="xs:int" use="required"/>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CTE-Reflectors">
		<xs:complexType>
			<xs:sequence maxOccurs="5">
				<xs:element ref="CTE-Reflector"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CTE-Reflector">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="CTE-Reflect"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="I"/>
						<xs:enumeration value="II"/>
						<xs:enumeration value="III"/>
						<xs:enumeration value="IV"/>
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CTE-Reflect">
		<xs:complexType>
			<xs:attribute name="input" type="xs:int" use="required"/>
			<xs:attribute name="output" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CTE-Positioning">
		<xs:complexType>
			<xs:attribute name="left" type="xs:string" use="required"/>
			<xs:attribute name="right" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CTE-Machine">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ABC" type="xs:string"/>
				<xs:element ref="CTE-Rotors"/>
				<xs:element ref="CTE-Reflectors"/>
			</xs:sequence>
			<xs:attribute name="rotors-count" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CTE-Enigma">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CTE-Machine"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
